Specifications RAGAgent - without Code.json
{
  "name": "Specifications RAGAgent",
  "nodes": [
    {
      "parameters": {
        "content": "# Add file to Qdrant Store",
        "height": 1235,
        "width": 785,
        "color": 5
      },
      "id": "945b6201-96c2-4438-8df6-f9a45cbf2613",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "3e1dc595-fe98-467e-9045-2e639d670b05",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        336
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88476dca-933f-48d5-b145-d9aa18cfebe7",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        336
      ]
    },
    {
      "parameters": {
        "content": "# RAG AI Agent - Chat Interface",
        "height": 561,
        "width": 1036
      },
      "id": "b101dbed-b3a3-4cbb-9672-2e1881b8475d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f2c7ccd3-031a-4b09-869e-e2845490ff5d",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        592,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a personal assistant who helps answer questions from a documents stored as vector data in \"Answer Qdrant Vector Store\". \n\nWhen asked a question, always performe RAG using tool \"Answer Qdrant Vector Store\". Don't reply on you own other than from tool \"Answer Qdrant Vector Store\".\n\nYour answer should be in bullet form with clause number as bullet heading. Reply in well formated style.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them.\n\nAlways provide clause number first, then exact clause wording."
        }
      },
      "id": "32339177-a665-40bf-84cb-899af650a9dd",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1136,
        112
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "DHA-Lahore-Byelaws-updated-on-29-Jul-2025.pdf",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        96
      ],
      "id": "7239c783-0c53-4d1c-b08f-bce838e26f95",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        96
      ],
      "id": "4d8fb68a-98fa-4abf-b515-1679ac8ad25e",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_title }}",
          "mode": "id"
        },
        "embeddingBatchSize": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        160,
        656
      ],
      "id": "4a85a4d4-7b3f-4b0f-866c-ac327dede0b1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "60d2e4b6-7188-45ac-bd80-474e6fbe88d6",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        288,
        832
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100
      },
      "id": "df1ba44f-94ba-4f4f-9fe3-0d1cf4577a1c",
      "name": "Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        1024
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1552,
        80
      ],
      "id": "cfd8addd-337f-4b5c-8723-6216a8f3a602",
      "name": "Respond to Chat",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        896,
        192
      ],
      "id": "353442cc-cbdd-40ad-b880-69699fac0e42",
      "name": "When chat message received",
      "webhookId": "4fe1a8bb-9461-40a1-a1ca-39344f95a2d2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        704
      ],
      "id": "787cc0d5-47ee-4194-89ed-d921c106e303",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# RAG AI Agent - WebHook",
        "height": 545,
        "width": 1036,
        "color": 3
      },
      "id": "fd50835b-08fc-4931-b99c-d3fca47a23da",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        592
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant that can only answer questions using data from the tool \"Webhook Answer Qdrant Vector Store\".\n\nYou CANNOT respond directly. You MUST call the tool \"Webhook Answer Qdrant Vector Store\" for every user question before replying.\n\nIf you have not yet called the tool, do not answer. \nOnly after retrieving relevant context from \"Webhook Answer Qdrant Vector Store\" may you reply.\n\nAlways return your answer as valid HTML:\n<ul>\n  <li><b>[Clause Number] - [Clause heading] : </b> Explanation or clause text...</li>\n</ul>\n\nIf the tool returns no results after two attempts, respond:\n<b>No relevant clause found in the Vector Store.</b>\n\nThe clause number refers to the clause provided in the document."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        672
      ],
      "id": "a2d8a614-360e-4c84-9f1a-e554c8d1671f",
      "name": "RAG Agent2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "DHA-Lahore-Byelaws-updated-on-29-Jul-2025.pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        880,
        672
      ],
      "id": "04cb7edb-ab62-44c4-bd27-3e0fa088b501",
      "name": "Webhook",
      "webhookId": "9b5ae4ee-ff9c-4073-9b41-bc08a1a10517",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1664,
        672
      ],
      "id": "72702341-13bb-4d9d-99d9-709456565781",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Upload to Locally Hosted Qdrant Vector Store",
        "height": 608,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        608
      ],
      "id": "a9ffb770-6e4f-458e-97c1-aa44f535da11",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        96
      ],
      "id": "8da74f6c-546b-4b48-9301-a17675cb669c",
      "name": "Activate Vector Database Upload Sub-Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base to find the information required by the AI agent.",
        "qdrantCollection": {
          "__rl": true,
          "value": "DHA-Lahore-Byelaws-updated-on-29-Jul-2025.pdf",
          "mode": "list",
          "cachedResultName": "DHA-Lahore-Byelaws-updated-on-29-Jul-2025.pdf"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1376,
        272
      ],
      "id": "8f8f2cd9-c862-4922-9c37-47bc92864281",
      "name": "Answer Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ANtCtbVwCMgk3Oj8",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        80,
        880
      ],
      "id": "63937bcb-5651-41fd-a356-1d0f778d2c57",
      "name": "Embeddings Uploader",
      "credentials": {
        "ollamaApi": {
          "id": "dIYovo053Hvgpepl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1664,
        416
      ],
      "id": "489de1e9-9840-4ac0-a954-49bf8f77f171",
      "name": "Embeddings  Retrieval",
      "credentials": {
        "ollamaApi": {
          "id": "dIYovo053Hvgpepl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1728,
        1008
      ],
      "id": "a12cde74-1725-4922-b1a8-adf78f7d65dd",
      "name": "Embeddings  Retrieval1",
      "credentials": {
        "ollamaApi": {
          "id": "dIYovo053Hvgpepl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base to find the information required by the AI agent.",
        "qdrantCollection": {
          "__rl": true,
          "value": "DHA-Lahore-Byelaws-updated-on-29-Jul-2025.pdf",
          "mode": "list",
          "cachedResultName": "DHA-Lahore-Byelaws-updated-on-29-Jul-2025.pdf"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1488,
        848
      ],
      "id": "526d491d-eedb-49fc-aee6-9ed4e443c014",
      "name": "Webhook Answer Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ANtCtbVwCMgk3Oj8",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        400
      ],
      "id": "d43e4bce-d8b8-438b-b607-bdc66ca42ad8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        992
      ],
      "id": "3659de5f-f1cd-41a5-98e8-3a9c9394b6ea",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "RAG Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Vector Database Upload Sub-Workflow": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Uploader": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings  Retrieval": {
      "ai_embedding": [
        [
          {
            "node": "Answer Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings  Retrieval1": {
      "ai_embedding": [
        [
          {
            "node": "Webhook Answer Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Answer Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "147826f2-71e8-4cfe-b607-f74b4617cbfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03f590a58500d495fc4092d3a4d6e9499622536c0e114b0ecd19809ff526a72c"
  },
  "id": "AEGzhnS1T3DaRdWb4bpz0",
  "tags": [
    {
      "updatedAt": "2026-01-29T16:56:06.302Z",
      "createdAt": "2026-01-29T16:56:06.302Z",
      "id": "",
      "name": "Rag Agent"
    },
    {
      "updatedAt": "2026-01-29T18:54:37.990Z",
      "createdAt": "2026-01-29T18:54:37.990Z",
      "id": "",
      "name": "Ready"
    }
  ]
}